<mat-toolbar color="primary" class="header">
  <div>User Records</div>
      <button type="submit" mat-button class="btn-logout" (click)="logout($event)">LogOut</button>
<!--  <li-->
<!--    class="bold"-->
<!--    *ngFor="let link of links"-->
<!--    routerLinkActive="active"-->
<!--  >-->
<!--    <a [routerLink]="[link.url]" class="main">-->
<!--      {{link.name}}-->
<!--    </a>-->
<!--  </li>-->
</mat-toolbar>

<mat-sidenav-container>
    <router-outlet></router-outlet>
</mat-sidenav-container>
