.btn-logout {
  text-align: right;
  width: 120px;
  float: right;
}

.main{
  text-align: right;
  width: 120px;
  color: aliceblue;
}

.btn-cal{
  width: auto;
  text-align: left;
}

.btn-cal-events{
  font-size: 18px;
  float: right;
  width: auto;
}
