.btn-logout {
  text-align: right;
  width: 120px;
  position: absolute;
  right: 30px;
  font-size: 18px;
}

.main{
  text-align: right;
  width: 120px;
  color: aliceblue;
}

.btn-cal{
  width: auto;
  text-align: left;
}

.btn-cal-events{
  font-size: 18px;
  width: auto;
  position: absolute;
  right: 120px;
  margin-left: 10px;
  margin-right: 10px;
}


